<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ pageTile }}</title>
</head>

<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a href="/">Back</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>{{name}}</h1>
        <h3>
            {{status}}, since {{startDate}} 
        </h3>
        <div>
            Imagen: {{registry}}
            
        </div>
        <div>
            <span>currentTag:{{currentTag}}</span>
            
        </div>
        <div>
            New tag:<input type="text" name="nextTag" />
        </div>
            <div>
                <button onclick="changeTag('{{name}}', '{{registry}}')">Change Tag</button>
            </div>
    </main>
    <script>
    function changeTag(name, registry) {
        const nextTag = document.querySelector('[name="nextTag"]').value;
        console.log('nextTag', nextTag)
        fetch(`/api/changeTag/${name.split('/')[1]}/${registry}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ nextTag })
        })
            .then(response => response.json())
            .then(data => console.log(data))
            .catch(error => console.error(error));
    }
</script>
</body>

</html>